*results*.zip
tmp_dir
MAGICC_AR7Fastrack_CMIP7.csv
data/model_data/MAGICC7.5.3_SSP-RCPs_Nauels2025.csv
src/results/
docs/build/
.ipynb_checkpoints
.DS_Store
/results
/Manifest.toml
results.zip
.vscode/settings.json
hindcast_projections_results
